
//帖子与帖子之间的距离
.forpanel{
    margin-top: 10px;
}

//帖子头像大小
.forpanel a img{
    height:64px;
    width:64px;
}
//用户名字
.forpanel h4{
    font-weight: bold;
}

//收藏评论 按钮
.forpanel button{
    border: none;
    border-left: 1px solid #e0e0e0;
    border-radius: 0px;
    &:hover{
        background-color: transparent;
        color: rgb(241, 141, 0);
    }
}