
//评论列表的头像大小
.pinglun a img{
    height: 42px;
    width: 42px;
}

//评论列表的 评论 按钮
.pinglun button{
    margin-left: 480px;
    margin-top: 10px;

}
.pinglun{
    margin-top: 10px;
    background-color: #e0e0e0;
}
